body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9cb4ac;
}

h1 {
    font-size: 2.75rem;
    text-align: center;
}

h2 {
    font-size: 2.25rem;
    text-align: center;
}

#taskInput {
    margin-bottom: 5px;
}

input#taskInput {
    font-size: 1.25rem;
 }

input#taskCategory {
    font-size: 1.25rem;
}

#deadLineDate {
    font-size: 1.25rem;
    margin-top: 3px;
}

#taskStatus {
    
    font-size: 1.25rem;
    margin-top: 5px;
}

#addTaskBtn {
    font-size: 1.25rem;
    border-radius: 6px;

}


#task-List li {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px 14px;
    width: 100%;
    margin-bottom: 10px;
   align-items: center;
}

#task-List li span {
    display: block;
}

label {
    font-size: 1.25rem;
}

#filterStatus {
    font-size: 1.25rem;
}


.nameSpan, .taskCat, .taskDue {
    font-size: 1.75rem;
}

.statusTask {
    font-size: 1.5rem;
    max-width: 10rem;
}    

.list-btn {
    margin-top: 3px;
    max-width: 10rem;
    font-size: 1.25rem;
    border-radius: 6px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}

@media (min-width: 368px) {

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 85%;
}

    #task-List li {
    display: flex;
    flex-direction: colum;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px 14px;
    width: 100%;
    margin-bottom: 10px;
   align-items: center;
}
}