.taskLabel {
    font-weight: 800;
}

#statusTask {
    font-weight: 800;
    margin-left: 5px;
}

.taskCat {
    font-weight: 800;
    margin-left: 5px;
}

.list {
    font-weight: 100;
}

#nameSpan {
    font-weight: 200;
}

#category-Span {
    font-weight: 200;
}

#span-Deadline {
    font-weight: 200
}

#span-Status {
    font-weight: 200;
}

.taskDue {
    margin-left: 5px;
    font-weight: 800;
}