input {
    height: 1.5rem;
}

#taskInput {
    font-size: 1rem;
}

#taskCategory {
    font-size: 1rem;
}

#deadLineDate {
    font-size: 1rem;
}

#taskStatus {
    height: 1.5rem;
    font-size: 1rem;
    margin-top: 3px;
}

#addTaskBtn {
    height: 1.5rem;

}

#task-List {
    padding: 0;
}

#task-List li {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px 14px;
    max-width: 40%;
    margin-bottom: 10px;
}

#task-List li span {
    display: block;
}

.nameSpan, .taskCat, .taskDue, #statusTask {
    font-size: 1.5rem;
}